language: node_js
sudo: required
dist: trusty
node_js: stable
addons:
  firefox: latest
  sauce_connect: true
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install -g bower polylint web-component-tester
- bower install
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --skip-plugin local; fi
env:
  global:
  - secure: L2zetBapHkMUwpP5clTd+r49Uvp67sqV6oXHTmtdBTn6XC54O2WgFBWxwsPfYksoc+5qfblz6wLQVqDL0Ht3wXVsLVPugX0pbcrisHEBgT1YafWh3lBePvud8ivlu59uh45VcgVaASmWe/TBUSSHLQloOsdM2ezQM7iEca1KIi6bmPSI6L0blSGEiEBVnq8OkPsmz0v+9uGaFXeWLdcyhNZ3lShlP4lMip4EZ9JjmWTa45whstGxi/weujZBV0FZGqVg3Aa033vpFIpX8QJi6ZWFGRKuxcB/1eI/8GV3KGtMrxwX87SK/6ILN3UWLATv4wQnxa0TIJixHhWRif6TFs922OUT6EOFuHOdJ3Ea7zckYdC70THmxFDjdiV3cUTlh3FuBwhVfsHJT3mrYnyjB9T9WHCgiY9IWGX9oQ4p7ssjq21v8hOTPyXgf84C1vvPXHLmoTE0XJpxRJrRBjq6ykXBo8UoSpIRnKaPQvjJh5xEGCO2pVvBIFFHGbTmnDk17M8lb6DIewCY+LcXD+fJz3OLcxuGdcUVy1lNdYPlSxYiztMzSt7DX9UvYt1D/mYHafaWOWHsaSf9tDoeCqahXFtmZLNI3fKt+cyrQuNSpsLqE6GWymLOWGRvUT0/6ZzAA3GPjzI7/uPCPj6yMEj3cToZBfuY8RvD5+oLRVhKLyI=
  - secure: W5eolaj4fDqx0m0cPIGrG+Nzc0mWJo2EPZ6b1oF9J8P6oDnPKCql7h1E2CgUeo4YIGbXYit7Q40ZHZP0o/cnPxwydR1Xw5eHL5x5r2OKrpt4Ohx+xYZdJhmqarxyXqqUKqO9sbIGVZgBjNqib0cZbWgS0oD3uoFrCsPeCXYoBxzW4csRuKaXVIU/EsfYjlz+mrqxnckbYQ9mlECDdep+ZJa8+5bI6pXPM6PgXr37QXgSa3MOnlhekNX4RshlwspZYfdk3BuyzapqCcDnmMkqmJNqfpyQxO9ptb3UvWcora5wVemz4UpNuvjEweEZQKJnvP4HwtOib9rRYJB2bmcHOtAf0S/EARS5gEL+BD7evq8T9UPyQb+ppxC8HfPVBmpNABC34QNV6GF/nqJuj/GRoUaW1bkZSmPOAUe6Og+ziR8/I621WyQmu/V2xEhyGZQIX8e52IXIEIESqENRYyBFiUGFVFrpM3fsRlG2I1dJFyPwSh5EfqRnlKqkjudarCsF43xvcHbvQUUX5AEQl4SCsAqcYWxQ2Xo5vk3udTX90CQO1yfBj3jG2Wu2mctsAGe2NIlb3Fg5TuefbsQWTbGZami3vgpPpkTDFlZxtxmOguQ4H/TYDYvd2Cn0JFVG0JlMxf85UuJHI9y4OQe4R+EkKbEJ3lsZmErupVhS2R/FoKc=
